
.hidden{display:none;}

.modalBackground{background:#000;opacity:0.7;position:fixed;top:0;left:0;right:0;height:100%;z-index:998;}
.modal{width:800px;position:fixed;top:15%;left:30%;border-radius:5px;z-index:999;}
.modal .modalHeader, .modal .modalFooter{padding:12px 0;}
.modal .modalHeader .title{font-size:1.3em;text-align:center;margin:0;}
.modal .modalContent{background:#fff;height:400px;overflow:auto;padding:25px;}
.modal .modalFooter{background:#fff;}
.modal .modalFooter .btn{float:right;}
.modal .modalFooter .btn.confirm{color:#28bb08;}
.modal .modalFooter .btn.confirm:hover{color:#fff;background:#28bb08;}
.modal .modalFooter .btn.cancel{color:#e31818;}
.modal .modalFooter .btn.cancel:hover{color:#fff;background:#e31818;}
/*
GREEN MODAL
*/
.greenModal{border:1px solid #28bb08;}
.greenModal .modalHeader{background:#28bb08;}
.greenModal .modalContent .label{color:#28bb08;}
.greenModal .modalFooter{border-top:1px solid #28bb08;}
/*
ORANGE MODAL
*/
.orangeModal{border:1px solid #e1921a;}
.orangeModal .modalHeader{background:#e1921a;}
.orangeModal .modalContent .label{color:#e1921a;}
.orangeModal .modalFooter{border-top:1px solid #e1921a;}
/*
RED MODAL
*/
.redModal{border:1px solid #e31818;}
.redModal .modalHeader{background:#e31818;}
.redModal .modalContent .removeWarning{text-align:center;padding:50px 0 0 0;}
.redModal .modalContent .removeWarning .fa{font-size:2.8em;color:#e31818;margin:0 0 15px 0;}
.redModal .modalContent .removeWarning p{font-size:1.2em;}
.redModal .modalFooter{border-top:1px solid #e31818;}
